{{> sidebar}}
<!-- component -->

<div class="col container-fluid">

  <div class="d-flex justify-content-between align-items-center m-4">
    <h2 class="text-left">Book Inventory</h2>
    <div class="d-flex justify-content-evenly gap-3">
      <div class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createBook">Create</div>
      <!--
      <div class="btn btn-outline-success">Import</div>
      -->
    </div>
  </div>

  <div class="m-3">
    <table class="table table-hover" id="book-data">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>ISBN</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Status</th>
          <th>Inventory</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="bookTable">
        <!-- Add more rows as needed -->
        {{#each books}}
        <tr data-book-id="{{id}}">
          <td><img src="{{img_urls.[0]}}" class="img-thumbnail cover-image" alt="Book Image"></td>
          <td class="editable">{{formatName title}}</td>
          <td class="editable">{{formatName author}}</td>
          <td class="editable">{{formatName publisher}}</td>
          <td class="editable">{{isbn}}</td>
          <td class="editable" data-price="{{price}}" data-currency="{{currency}}">{{formatPrice price currency}}</td>
          <td class="editable">{{avgRating reviews}}</td>
          <td class="editable" style="min-width: 150px;" align="center">
            <div class="{{lowerCase status}}">
            {{formatName status}}
            </div>
          </td>
          <td>{{inventory}}</td>
          <td>
            <button class="btn btn-outline-primary btn-sm editBtn" data-bs-toggle="modal"
              data-bs-target="#editBook">Edit</button>
            {{#if this.reviews}}
            <button class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#book-{{id}}">
              Comments
            </button>
            {{/if}}
          </td>
        </tr>
        {{#if this.reviews}}
        <div class="modal fade" id="book-{{id}}">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">List of Titles, Comments, and Ratings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                <div class="list-group">
                  {{#each this.reviews}}
                  <!-- Sample list items (you can replace with dynamic data) -->
                  <!-- Repeat this block for each item -->
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{title}}</h5>
                      <small>Rating: {{rating}}</small>
                    </div>
                    <p class="mb-1">{{comment}}</p>
                  </a>
                  <!-- End of sample list items -->
                  {{/each}}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {{/if}}
      {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{> book/createBook}}
{{> book/editBook}}

<script>
  new DataTable('#book-data', {
    searchable: false,
    sortable: true,
    perPageSelect: true,
    perPage: 10,
    labels: {
      placeholder: "Search by Title, Author, Publisher, ISBN, Price, Status, Currency, Inventory"
    }
  })
</script>