<!-- component -->
<div class="col container">

  <div class="d-flex justify-content-between align-items-center m-4">
    <h2 class="text-left">Categories</h2>
    <div class="d-flex justify-content-evenly gap-3">
      <div class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createCategory">Create</div>
    </div>
  </div>


  <form action="/category" method="get" class="card p-4 m-4" id="queryBook">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="filterTitle">Name</label>
        <input type="text" id="filterTitle" class="form-control" placeholder="Search by name" name="name">
      </div>
      <div class="col-md-6 mb-3">
        <label for="filterPublished">Published</label>
        <select id="filterPublished" name="published" form="queryBook" class="form-select">
          <option value="all">All</option>
          <option value="onlyPublished">Published only</option>
          <option value="onlyUnpublished">Unpublished only</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <div class="m-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Books</th>
          <th>Published</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="categoryTableBody">
        <!-- Data row -->
        {{#each categories}}
        <tr data-category-id="{{id}}">
          <td>{{inc @index}}</td>
          <td class="editable">{{formatCategory name father.name}}</td>
          <td class="editable">{{formatName description}}</td>
          <td class="editable">{{books.length}}</td>
          <td class="editable">{{is_published}}</td>
          <td>
            <a class="btn btn-outline-info btn-sm" href="/category/{{id}}">Detail</a>
            <button class="btn btn-outline-warning btn-sm editBtn" data-bs-toggle="modal" data-bs-target="#editCategory">Edit</button>
            <button class="btn btn-outline-danger btn-sm" >Delete</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{> category/createCategory}}
{{> category/editCategory}}