<div class="col container">

  <!-- Form Section -->

  <div class="card m-3">
    <div class="card-header h3 p-3">Detail Promotion</div>
    <div class="card-body p-4">
      <p>Name: {{promotion.name}}</p>
      <p>Type: {{formatName promotion.type}}</p>
      <p>Description: {{promotion.description}}</p>
      <p>From Date: {{formatDate promotion.from}}</p>
      <p>To Date: {{formatDate promotion.to}}</p>
    </div>
  </div>


  <!-- Add Book Section -->
  <div class="card m-3">
    <div class="card-header h3 p-3">Add Book</div>
    <div class="card-body">
      <form id="addBook" class="p-3">
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="book-name" class="form-label">Book Name</label>
            <input type="text" class="form-control" id="book-name" name="title" list="books" required />
            <datalist id="books">
              {{#each books}}
              <option value="{{lowerCase this.title}}" data-id="{{this.id}}">{{formatName this.title}}</option>
              {{/each}}
            </datalist>
          </div>
          <div class="col-md-2">
            <label for="book-quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="book-quantity" name="bookQuantity" min="1"/>
          </div>
          <div class="col-md-2">
            <label for="book-discount" class="form-label">Discount (%)</label>
            <input type="number" class="form-control" id="book-discount" name="bookDiscount" min="1" max="100" required />
          </div>
        </div>
        <div class="row m-1">
          <button type="submit" class="btn btn-success" onclick="addPromotionBook()">Add Stored Book</button>
        </div>
      </form>
    </div>
  </div>

  <!-- List of Promotion Books -->
  <div class="card m-3">
    <div class="card-header h3 p-3">Promotion Books</div>
    <div class="m-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Discount</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="book-list">
          {{#each promotion.promotion_books}}
          <tr>
            <th scope="row">{{inc @index}}</th>
            <td>{{this.book.title}}</td>
            <td>{{formatPrice this.price this.book.currency}}</td>
            <td>{{this.quantity}}</td>
            <td>{{formatDiscount this.discount}}</td>
            <td>
              <button class="btn btn-outline-warning btn-sm" onclick="editBook({{@index}})">Edit</button>
              <button class="btn btn-outline-danger btn-sm removeBtn" type="button" data-bs-toggle="modal"
                data-bs-target="#confirmModal" data-book-id="{{this.book.id}}">Remove</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</div>

<!-- Confirm remove modal -->
<div class="modal" tabindex="-1" id="confirmModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remove Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are your sure you want to remove out of this promotion?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="confirmRemove">Yes</button>
      </div>
    </div>
  </div>
</div>


<script>

  document.getElementById('addBook').addEventListener('submit', function() {
    event.preventDefault();
    
    const bookName = document.getElementById('book-name').value;
    const selectedOption = document.querySelector(`option[value="${bookName}"]`);
    const bookId = selectedOption.getAttribute('data-id');
    const bookQuantity = document.getElementById('book-quantity').value;
    const bookDiscount = document.getElementById('book-discount').value;

    const supplementDetail = {
      quantity: +bookQuantity,
      discount: +bookDiscount,
    }

    fetch('/promotion/{{promotion.id}}/book/' + bookId, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(supplementDetail),
    })
      .then(response => response.json())
      .then(() => {
        // Reload the page after form submission
        window.location.reload();
      })
      .catch(error => {
        console.error('Error:', error);
      });
  });


  function editBook(index) {
    /*
    const book = books[index];
    document.getElementById('book-name').value = book.name;
    document.getElementById('book-quantity').value = book.quantity;
    document.getElementById('book-price').value = book.price;

    // Remove the book from the list for re-adding
    books.splice(index, 1);
    */
  }

  let bookId = null;
  document.querySelectorAll('.removeBtn').forEach(button => {
    button.addEventListener('click', function () {
      bookId = button.getAttribute('data-book-id');
    });
  });

  const confirmRemoveBtn = document.getElementById('confirmRemove');
  confirmRemoveBtn.addEventListener('click', function() {
    fetch('/promotion/{{promotion.id}}/book/' + bookId, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(response => response.json())
      .then(() => {
        // Reload the page after form submission
        window.location.reload();
      })
      .catch(error => {
        console.error('Error:', error);
      });
  })
</script>