{{> sidebar}}
<!-- component -->
<div class="col container-fluid">

  <div class="d-flex justify-content-between align-items-center  m-4">
    <h2 class="text-left">Order</h2>
    <div class="btn btn-outline-info ">Export</div>
  </div>

  <!-- Search -->
  <div class="card m-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group row m-2">
            <div class="col-md-4">
              <div class="text-end"><label class="col-form-label" for="SearchStartDate">Start
                  date</label>
                <div title="The start date for the search." data-toggle="tooltip" class="ico-help"><i
                    class="fas fa-question-circle"></i></div>
              </div>
            </div>
            <div class="col-md-8">
              <input id="SearchStartDate" name="SearchStartDate" type="date" class="form-control">
            </div>
          </div>
          <div class="form-group row m-2">
            <div class="col-md-4">
              <div class="text-end"><label class="col-form-label" for="SearchEndDate">End
                  date</label>
                <div title="The end date for the search." data-toggle="tooltip" class="ico-help"><i
                    class="fas fa-question-circle"></i></div>
              </div>
            </div>
            <div class="col-md-8">
              <input id="SearchEndDate" name="SearchEndDate" type="date" class="form-control">
            </div>
          </div>
          <div class="form-group row m-2">
            <div class="col-md-4">
              <div class="text-end"><label class="col-form-label" for="SearchDiscountTypeId">Discount
                  type</label>
                <div title="Search by discount type." data-toggle="tooltip" class="ico-help"><i
                    class="fas fa-question-circle"></i></div>
              </div>
            </div>
            <div class="col-md-8">
              <select class="form-control" data-val="true" data-val-required="The Discount type field is required."
                id="SearchDiscountTypeId" name="SearchDiscountTypeId">
                <option selected="selected" value="0">All</option>
                <option value="1">Assigned to order total</option>
                <option value="2">Assigned to products</option>
                <option value="5">Assigned to categories</option>
                <option value="6">Assigned to manufacturers</option>
                <option value="10">Assigned to shipping</option>
                <option value="20">Assigned to order subtotal</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group row m-2">
            <div class="col-md-4">
              <div class="text-end"><label class="col-form-label" for="SearchDiscountCouponCode">Coupon
                  code</label>
                <div title="Search by discount coupon code." data-toggle="tooltip" class="ico-help"><i
                    class="fas fa-question-circle"></i></div>
              </div>
            </div>
            <div class="col-md-8">
              <input class="form-control text-box single-line" id="SearchDiscountCouponCode"
                name="SearchDiscountCouponCode" type="text" value="">
            </div>
          </div>
          <div class="form-group row m-2">
            <div class="col-md-4">
              <div class="text-end"><label class="col-form-label" for="SearchDiscountName">Discount
                  name</label>
                <div title="Search by discount name." data-toggle="tooltip" class="ico-help"><i
                    class="fas fa-question-circle"></i></div>
              </div>
            </div>
            <div class="col-md-8">
              <input class="form-control text-box single-line" id="SearchDiscountName" name="SearchDiscountName"
                type="text" value="">
            </div>
          </div>
          <div class="form-group row m-2">
            <div class="col-md-4">
              <div class="text-end"><label class="col-form-label" for="IsActiveId">Is
                  Active</label>
                <div title="Search by &quot;IsActive&quot; property." data-toggle="tooltip" class="ico-help"><i
                    class="fas fa-question-circle"></i></div>
              </div>
            </div>
            <div class="col-md-8">
              <select class="form-control" data-val="true" data-val-required="The Is Active field is required."
                id="IsActiveId" name="IsActiveId">
                <option selected="selected" value="0">All</option>
                <option value="1">Active only</option>
                <option value="2">Inactive only</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end mx-3 my-2">
        <button type="button" id="search-discounts" class="btn btn-primary btn-search">
          Search
        </button>
      </div>
    </div>
  </div>

  <!-- Table -->
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Customer</th>
        <th>Address</th>
        <th>Tel</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Supplement -->
      {{#each orders}}
      <tr data-bs-toggle="collapse" data-bs-target="#{{id}}" data-order-id="{{id}}">
        <td>{{inc @index}}</td>
        <td>{{name}}</td>
        <td>{{formatAddress address ward district province}}</td>
        <td>{{phone}}</td>
        <td>{{totalPrice order_details shipping}}</td>
        <td>
          <div class="{{lowerCase status}}">{{status}}</div>
        </td>
        <td>{{formatDate updated_at}}</td>
        <td>
          {{#if (isPending status)}}
          <button class="rejected rejectedBtn">Reject</button>
          <button class="accepted acceptedBtn">Accept</button>
          {{/if}}
        </td>
      </tr>

      <!-- Supplement Detail -->
      <tr id="{{id}}" class="collapse">
        <td colspan="8" class="">
          <!-- Nested Table -->
          <table class="table table-striped table-light table-bordered">
            <thead>
              <tr>
                <td>#</td>
                <td>Product</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Discount</td>
                <td>Money</td>
              </tr>
            </thead>
            <tbody>
              {{#each this.order_details}}
              <tr>
                <td>{{inc @index}}</td>
                <td>{{formatName books.title}}</td>
                <td>{{quantity}}</td>
                <td>{{formatPrice price 'VND'}}</td>
                <td>{{formatDiscount discount}}</td>
                <td>{{formatPrice total_price 'VND'}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </td>
      </tr>
      {{/each}}

    </tbody>
  </table>

</div>

<script>
  document.querySelectorAll('.acceptedBtn').forEach(btn => {
    btn.addEventListener('click', (e) => {
      e.preventDefault();
      const orderId = btn.parentElement.parentElement.dataset.orderId;
      fetch(`/order/${orderId}`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          status: 'CONFIRMED',
        }),
      })
        .then((res) => res.json())
        .then((data) => {
          window.location.reload();
        }).catch((error) => {
          alert(error);
        });
    });
  });

  document.querySelectorAll('.rejectedBtn').forEach(btn => {
    btn.addEventListener('click', (e) => {
      e.preventDefault();
      const orderId = btn.parentElement.parentElement.dataset.orderId;
      fetch(`/order/${orderId}`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          status: 'REJECTED',
        }),
      })
        .then((res) => res.json())
        .then((data) => {
          window.location.reload();
        }).catch((error) => {
          alert(error);
        });
    });
  });
</script>