{{> sidebar}}
<!-- component -->
<div class="col container-fluid">

  <div class="d-flex justify-content-between align-items-center  m-4">
    <h2 class="text-left">Promotion</h2>
    <div class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createPromotion">Create</div>
  </div>

  <div class="card m-4">
    <div class="card-body">
      <table class="table table-striped table-bordered" id="promotion-data">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Books</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- data rows as needed -->
          {{#each promotions}}
          <tr data-promotion-id="{{id}}">
            <td>{{formatName name}}</td>
            <td>{{description}}</td>
            <td>{{formatName type}}</td>
            <td>{{formatDate from}}</td>
            <td>{{formatDate to}}</td>
            <td>{{promotion_books.length}}</td>
            <td>
              <a class="btn btn-sm btn-outline-info" href="/promotion/{{id}}">Detail</a>
              <button class="btn btn-sm btn-outline-warning editBtn" data-bs-toggle="modal" data-bs-target="#editPromotion">Edit</button>
              <button class="btn btn-sm btn-outline-danger deleteBtn" data-id="{{id}}" data-bs-toggle="modal"
                data-bs-target="#confirmModal">Delete</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>

<!-- Confirm remove modal -->
<div class="modal" tabindex="-1" id="confirmModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Promotion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are your sure you want to delete this promotion?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="confirmDelete">Yes</button>
      </div>
    </div>
  </div>
</div>

<script>
  let promotionId = null;
  document.querySelectorAll('.deleteBtn').forEach(btn => {
    btn.addEventListener('click', function () {
      promotionId = btn.getAttribute('data-id');
    })
  })

  const deleteBtn = document.getElementById('confirmDelete');
  deleteBtn.addEventListener('click', function () {
    fetch('/promotion/' + promotionId, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(response => response.json())
      .then(() => {
        // Reload the page after form submission
        window.location.reload();
      })
      .catch(error => {
        alert(error.message);
      });
  })

</script>

{{> promotion/createPromotion}}
{{> promotion/editPromotion}}

<script>
  new DataTable('#promotion-data');
</script>