{{> sidebar}}
<!-- component -->
<div class="col container-fluid">

  <div class="d-flex justify-content-between align-items-center m-4">
    <h2 class="text-left">User</h2>
  </div>

  <div class="m-3">
    <table class="table table-hover" id="user-data">
      <thead>
        <tr>
					<th>Name</th>
					<th>Email</th>
					<th>Role</th>
					<th>Phone</th>
					<th>Total Orders</th>
					<th>Total Spent</th>
					<th>Reviews Count</th>
					<th>Avg Rating</th>
        </tr>
      </thead>
      <tbody id="bookTable">
        <!-- Add more rows as needed -->
        {{#each users}}
        <tr data-user-id="{{id}}">
					<td>{{user_last_name}} {{user_first_name}}</td>
					<td>{{user_email}}</td>
					<td>
					{{#each user_roles}}
						{{this}}
					{{/each}}
					</td>
					<td>{{user_phone}}</td>
					<td>{{order_count}}</td>
					<td align="right">{{formatPrice total_spent 'VND'}}</td>
					<td>{{review_count}}</td>
					<td align="center">{{showNum average_rating}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script>
  new DataTable('#user-data', {
    searchable: false,
    sortable: true,
    perPageSelect: true,
    perPage: 10,
    labels: {
      placeholder: "Search by Title, Author, Publisher, ISBN, Price, Status, Currency, Inventory"
    }
  })
</script>